@import url('https://fonts.googleapis.com/css2?family=Varela Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
* {
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

#logofont {
  font-size: 30px;
  font-family: 'WindSong', sans-serif;
}